@import "vars";
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-size: 13px;
  font-family: $main-font;
  line-height: 19.5px;
  //   overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}
